<div class='span12 <%= "provider-li #{authentication.provider}" %>'>
  <div class='pull-left'>
    <%= image_tag "authentifyd/#{authentication.displayable_name.downcase}-logo.png", :class=>'pull-left', :width => '30'%>
    &nbsp;
    <%= authentication.displayable_name %>
  </div>
  <div class='pull-right'>
    <%= link_to destroy_account_path(authentication), method: :delete do %>
      <i class='icon-unlink'></i>&nbsp;
      <%= t("Unlink_account") %>
    <% end %>
  </div>
  <div class='clearfix'></div>
  </br>
</div>