<div class="container main">
  <div class="row-fluid">
    <div id="allaround-wraper" class="big">
      <div class='authentifyd-form'>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :class => "form register-form") do |f| %>
          <legend>
              <%= t('Edit') %>
              <%= resource_name.to_s.humanize %>
          </legend>
          <%= devise_error_messages! %>
        
          <div class="body">
            <%= f.label :email, t('Email') %>
            <%= f.email_field :email %>

            <%= f.label :password, t('Email') %> <i><%= t("leave_blank_if_you_dont_want_to_change_it") %></i>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, t('Password_confirmation') %>
            <%= f.password_field :password_confirmation %>

            <%= f.label :current_password, t('Current_password') %> <i><%= t("we_need_your_current_password_to_confirm_your_changes") %></i>
            <%= f.password_field :current_password %>

          </div>
            
          <div class="footer">                                
            <%= button_tag t("Update"), :type => "submit", :class => "btn btn-primary" %>
          </div>
          
          <div class="footer">                                
            <h3><%= t('Cancel_my_account')%></h3>

            <%= t('Unhappy?') %>
            <%= link_to t("Cancel_my_account"), registration_path(resource_name), :confirm => t("Are_you_sure?"), :method => :delete %>
            </br>
            <%= link_to "Back", :back %>
          </div>
            
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer class="white navbar-fixed-bottom">
  <%= render :partial => "devise/shared/links" %>
</footer>