<div class="container main">
  <div class="row-fluid">
    <div id="register-wraper" class="span10 offset1">
      <div class='span6 register-form-container'>
        <div id="register-form">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :class => "form register-form") do |f| %>
            <legend><%= t('Sign_up_with_your_email') %></legend>
            <%= devise_error_messages! %>
        
            <div class="body">
                <%= f.label :email, t('Email') %>
                <%= f.email_field :email %>
                    
                <%= f.label :password, t('Password') %>
                <%= f.password_field :password %>
                  
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
            </div>
            
            <div class="footer">                                
              <%= button_tag t("Sign_up"), :type => "submit", :class => "btn btn-primary" %>
            </div>
            
          <% end %>
        </div>
      </div>
      <div class='span6 register-providers-container'>  
        <div class="login-form">
          <legend><%= t('or_use_your_prefered_profile')%></legend>
          <div class="body">
            <%= render :partial => "authentifyd/sessions/social_networks" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="white navbar-fixed-bottom">
  <%= render :partial => "devise/shared/links" %>
</footer>