<div class="container main">
  <div id="allaround-wraper">
    <div class="authentifyd-form">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <legend><%= t('Resend_confirmation_instructions') %></legend>
        <%= devise_error_messages! %>
        
        <div class="body">
            <%= f.label :email, t('Email') %>
            <%= f.email_field :email %>                    
        </div>
            
        <div class="footer">                                
          <%= button_tag t("Resend_confirmation_instructions"), :type => "submit", :class => "btn btn-primary" %>
        </div>
            
      <% end %>
    </div>
  </div>
</div>

<footer class="white navbar-fixed-bottom">
  <%= render :partial => "devise/shared/links" %>
</footer>