<div class="container main">
  <div id="allaround-wraper">
    <div class="authentifyd-form">
      <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
        <legend><%= t('Resend_unlock_instructions?') %></legend>
        <%= devise_error_messages! %>
        
        <div class="body">
          
            <%= f.label :email %>
            <%= f.email_field :email %>

        </div>
            
        <div class="footer">                                
          <%= button_tag t("Resend_unlock_instructions"), :type => "submit", :class => "btn btn-primary" %>
        </div>
            
      <% end %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class="devise-shared-links">
      <%= render :partial => "authentifyd/devise/shared/links" %>
    </div>
  </div>
</div>

